
.navbar{
    /* background-color: #76618F; */
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 2rem;
    padding: 0.7em 3rem 0 0;
    
  }
  .site-title{
    font-size: 1.5rem;
  }
  
  .navbar ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
  }
  
  .navbar  a{
    color: inherit;
  }
  
  .navbar .Login-signupbtn{
    background-color: black;
    color: rgb(255, 255, 255);
    width: 130px;
    height: 30px;
    border-radius: 35px;
    border: none;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .navbar ul li{
    font-size: medium;
    font-size: 20px;
    margin: 1rem;
    gap: 1rem;
  }
  
  .navbar ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
  }
  
  .navbar ul li a:hover{
    text-decoration: underline;
  }
  